<div
  class="w-full bg-white border flex items-center justify-between px-4 py-6 space-x-6"
>
  <div
    class="flex justify-center bg-sky-400/20 rounded-full items-center w-14 h-14 p-[35px]"
  >
    <div class="block text-center leading-none font-bold text-indigo-800">
      <span class="text-lg">JUNE</span><br /><span class="text-2xl -mt-3 block"
        >24</span
      >
    </div>
  </div>
  <div class="w-full flex flex-col leading-none space-y-3">
    <span class="font-bold text-gray-500 text-[17px]">TUESDAY</span>
    <span class="font-bold text-black text-[23px]">Change Oil</span>
    <span class="font-bold text-gray-500 text-[18px]">Suzzy Smith</span>
  </div>
  <div class="flex items-center">
    <svg
      class="font-bold h-7 cursor-pointer w-7 text-blue-950 hover:translate-x-2"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M8.25 4.5l7.5 7.5-7.5 7.5"
      />
    </svg>
    <!-- <i class="fa-solid fa-chevron-right text-indigo-800 text-2xl"></i> -->
  </div>
</div>
